<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
	<PropertyGroup>
		<DeleteExistingFiles>False</DeleteExistingFiles>
		<ExcludeApp_Data>False</ExcludeApp_Data>
		<LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
		<LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
		<LastUsedPlatform>Any CPU</LastUsedPlatform>
		<PublishProvider>FileSystem</PublishProvider>
		<PublishUrl>\\neo\c$\inetpub\wwwroot\Triton.WebAPI</PublishUrl>
		<WebPublishMethod>FileSystem</WebPublishMethod>
		<EnvironmentName>Production</EnvironmentName>
		<EnableMSDeployAppOffline>True</EnableMSDeployAppOffline>
	</PropertyGroup>

	<Target Name="TakeOffline" AfterTargets="BeforePublish" >
		<Message Text="Taking application offline" Importance="high" />
		<Copy SourceFiles="_app_offline.htm" DestinationFiles="$(publishUrl)\app_offline.htm" />
	</Target>

	<!-- BEGIN: Add this -->
	<Target Name="RestoreOnline" AfterTargets="AfterPublish" >
		<Message Text="Restoring application online" Importance="high" />
		<Delete Files="$(publishUrl)\app_offline.htm" />
	</Target>
	<!-- END: Add this -->
</Project>